@using System.Web.Helpers
@model System.Collections.Generic.IEnumerable<KnockoutTest.Models.ReservoirViewModel>

<table class="table table-hover reservoirs">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: viewModel">
        <tr>
            <td data-bind="text: ReservoirId"></td>
            <td data-bind="text: Name"></td>
        </tr>
    </tbody>
</table>

<div>
    <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
</div>

<div>
    <pre data-bind="text: ko.toJSON(viewModel.selectedReservoir, null, 2)"></pre>
</div>

<div>
    <pre data-bind="text: ko.toJSON(viewModel.chosenTraps, null, 2)"></pre>
</div>

<table class="table table-hover traps">
    <thead>
        <tr>
            <th>Selected</th>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <!-- ko with: viewModel.selectedReservoir -->
    <tbody data-bind="foreach: TrapViewModels">
        <tr>
            <td><input type="checkbox" data-bind="checkedValue: $data, checked: viewModel.chosenTraps" /></td>
            <td data-bind="text: TrapId"></td>
            <td data-bind="text: Name"></td>
        </tr>
    </tbody>
    <!-- /ko -->
</table>

<div>
    <!-- ko with: viewModel.currentTrap -->
    <span data-bind="text: Details"></span>
    <!-- /ko -->
</div>

<button data-bind="click: postaa, enable: viewModel.chosenTraps().length > 0">Postaa</button>

<button data-bind="click: hae">Hae</button>

<pre id="janssoni"></pre>


@*
    <input type="checkbox" data-bind="checkedValue: $data, checked: $root.chosenItems" />

    <script type="text/javascript">
        var viewModel = {
            items: ko.observableArray([
                { itemName: 'Choice 1' },
                { itemName: 'Choice 2' }
            ]),
            chosenItems: ko.observableArray()
        };

        ko.applyBindings(viewModel);
    </script>*@



@section scripts
{
    <script type="text/javascript">
        var viewModel = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));        
    </script>
    <script src="~/Scripts/App/targets.js"></script>
    
    
}

